* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-container {
  max-width: 60%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}
img {
  width: 100%;
}
.bullets,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.bullets li {
  height: 20px;
  cursor: pointer;
  padding: 0 0 0 16px;
  background-color: #dedada;
}
button#prevBtn,
button#nextBtn {
  position: absolute;
  top: 48%;
  z-index: 99;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
button#nextBtn {
  right: 0;
}
